
# ignore all image files
*.png
*.jpg

# ignore all mp4 files
*mp4*

*.txt

# ignore pycache and pyc files
__pycache__/
*.pyc

# ignore videos
videos/*
youtube_videos/*
temp*

# ignore pickle file
*.pickle

# ignore intermediate results
*.log
*.jpg
*.png
*.pdf
*.txt



# ignore results
results/*

# ignore vscode
.vscode/

# ignore ipynb
*.ipynb

stats*
